body{
    background-color: darkmagenta;
    font-family: 'Shadows Into Light', cursive;
    color:rgb(253, 240, 255);
}
canvas{
    border-color: rgb(253, 240, 255);
    border-radius: 20px;
    border-style: solid;
    border-width: 10px;
    margin-left: 560px;
}
